*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav  .search-icon{
    height: 40px;
    width: 240px;
    display: flex;
    background: blue;
    border-radius: 5px;
}
nav .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}
nav .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
nav .search-icon .icon span{
    color: white;
    font-size: 18px;
}
nav ul .search-icon .icon:hover{
    background: red;
}

.bb{
    border-radius: 20px;
}

 h6{
    letter-spacing: 10px;
}
.header{
    width: 100%;
    background: #9bac09;
}

nav .logo{
    flex: 1;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

nav .btn span{
    font-size: 2rem;
    
}
 .bt .cont{
    
    display:inline-block;   
    padding:0.6em 1.2em;
    margin:0 0.1em 0.1em 0;
    border-radius: 5px;
    text-decoration:none;
    font-weight:500;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
 .bt .ton{
    display:inline-block;   
    padding:0.6em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:1px solid white;
    border-radius: 5px;
    text-decoration:none;
    font-weight:500;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.about-text{
    flex: 1 1 400px;
    margin: auto;
    padding: 10px ;

}
.about-img{
    margin: auto;
    flex: 1 1 300px;
}
.about-img img{
    display: block;
    max-width: 70%;
    object-fit: cover;
    margin: auto;
    
}
#vet{
    padding: 50px 0;
}
.vet-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.vet-text{
    flex: 1 1 200px;
    margin: auto;
    padding: 10px ;

}
.vet-img{
    margin: auto;
    flex: 1 1 400px;
}
.vet-img img{
    display: block;
    max-width: 70%;
    object-fit: cover;
    margin: auto;
    padding: 10px;
    
}

.title-text{
    text-align: center;
}